.containerCapacidades {
  width: 100%;
  height: 100vh;
  background-image: url("../../img/manzanas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.msjCapacidades {
  width: 884px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.tituloCapacidades {
  margin-left: 30px;
  color: #f9f9f9;
}

.capacidades {
  margin-top: 100px;
}

.alimentacion {
  margin-left: -6%;
  text-align: center;
}

.imgBarras {
  margin-left: 40%;
}

.barras {
  margin-left: 20%;
}

.imgPlaneta {
  margin-left: 75%;
}

.permaCultura {
  margin-left: 87%;
}

.imgManoEstrellas {
  margin-left: 150%;
}

.buenasPracticas {
  margin-left: 160%;
}

.logosCapacidades {
  display: flex;
  justify-content: space-around;
  margin-left: 60%;
  margin-top: 10%;
}

.logosCapacidades > img {
  width: 250px;
}

.h1-capaci {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #f9f9f9;
  text-align: center;
}
