.containerSerColaborador{

    width: 100%;
    height: 100vh;

}

.mensajeSerColaborador {

    width: 884px;
    /*height: 147px;*/
    color: #4F4F4F;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-top: 30px;
}
