.containerSumate{

    width: 100%;
    height: 100vh;

}


.msjSumate {

    width: 884px;
    /*height: 147px;*/
    color: #4F4F4F;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-top: 50px;
}

.tituloSumate {

    margin-left: 30px;
}

.imgMasas {

    width: 507px;
    height: 723px;
    margin-left: 70px;
    margin-top: 80px;
    border-radius: 100px;
}

.contactoSumate {

    margin-top: 30px;
    margin-right: 150px;
    margin-top: 50px;
}

.parrafoSumate {

    color: #4F4F4F;
}

.nombre, .emprendimiento, .info, .horario {

    width: 594px;
    height: 51px;
    margin-top: 10px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
}

 .comuna {

    width: 290px;
    height: 51px;
    margin-top: 10px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
}

.contenedorTlf {

    margin-left: 60px;
    margin-top: -140px;
    
}
.contenedorRegion {

    margin-left: 60px;
    margin-top: -140px;
}

.tlf {

    margin-top: 89px;
    margin-left: 237px;
    width: 297px;
    height: 51px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
}

.region {

    margin-top: 89px;
    margin-left: 237px;
    width: 297px;
    height: 51px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
   
}

.mailSumate {

    width: 290px;
    height: 51px;
    margin-top: 10px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
}

.btn-sumate {

    width: 145px;
    height: 55px;
    color: #FA6E20;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    border: 2px solid #FA6E20;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
}