.contenedorColaboradores {
  width: 100%;
  height: 100vh;
}

.mensajeColaboradores {
  width: 884px;
  color: #4f4f4f;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin-top: 30px;
}

.carouselEste {
  width: 800px;
  height: 160px;
  margin: auto;
}

.btn-aprender {
  width: 212px;
  height: 58px;
  color: #fa6e20;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  border: 2px solid #fa6e20;
  box-sizing: border-box;
  border-radius: 10px;
}

.losColaboradores {
  display: flex;
  justify-content: center;
}

.losColaboradoresDos {
  display: flex;
  justify-content: center;
}

.btn-aprender:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #ff9029 0%, #f34b14 100%);
  color: #f9f9f9;
  border: none;
}

.rowcolab {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 60px;
}
