.transparencia-container {
    width: 100%;
    height: 100vh;
    background: url(../../img/Olla.jpg);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    padding-left: 117px;
    padding-top: 327px;
    justify-content: space-around;
}


.transparencia-main {
    width: 683px;
    height: 112px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 56px;
}

.titulo-header {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color:#F9F9F9;
}

.arrow-header {
    display: flex;
    justify-content: center;
    margin-bottom: -9%;
}