.h3-capacitaciones {
	font-family: "Roboto", sans-serif;
    color: #4f4f4f;
    width: 100%;
    padding: 0 117px;
}

.input-capacitaciones-name {
    width: 584px;
    height: 51px;
    background: #F9F9F9;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    color: #4F4F4F;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0 10px;
    margin-top: 4%;
}

.input-capacitaciones {
	width: 279px;
    height: 51px;
    background: #F9F9F9;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    color: #4F4F4F;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0 10px;
    margin-top: 4%;
}

.input-capacitaciones-disp {
    width: 324px;
    height: 193px;
    background: #F9F9F9;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #4F4F4F;
    resize: none;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
}

.personal-info {
    width: 60%;
}

.left-inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 117px;
}

.disponibilidad {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    padding-left: 43px;
}

.p-capacitaciones-disp {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #4f4f4f;
}

.end-capacitaciones {
    display: flex;
    justify-content: flex-end;
    align-self: baseline;
    width: 100%;
    padding-right: 117px;
    padding-top: 34px;
}

.btn-capacitaciones-enviar {
    width: 128px;
    height: 58px;
    background: transparent;
    border: 2px solid #FA6E20;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    color: #FA6E20;
    font-size: 24px;
    font-weight: bold;
}

.btn-capacitaciones-enviar:hover {
    background: linear-gradient(180deg, #FF9029 0%, #F34B14 100%);
    color: #F9F9F9;
    border: none;
}

.h3-capacitaciones-disp {
    font-family: "Roboto", sans-serif;
    color: #4f4f4f;
    width: 100%;
}