.voluntario-container {
    display: flex;
    width: 577px;
    height: 300px;
    border-radius: 20px;
    background: #F9F9F9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .voluntario-left {
      width: 50%;
  }
  
  .voluntario-left > img {
     width: 100%;
     height: 100%;
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
  }
  
  .voluntario-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  }
  
  .voluntario-letter {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #333333;
  }
  
  .voluntario-letter-small {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      color: #333333;
      line-height: 21px;
  }
  
  .voluntario-more {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: #FA6E20;
      text-decoration: underline;
      margin-top: -5%;
  }
  
  .btn-voluntario {
      width: 167px;
      height: 58px;
      border-radius: 10px;
      border: 2px solid #FA6E20;
      background-color: transparent;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #FA6E20;
  }
  
  .btn-voluntario:hover {
      color: #F9F9F9;
      background: linear-gradient(180deg, #FF9029 0%, #F34B14 100%);
  }
  
  /* Modal */
  
  .modal-header-voluntario {
      height: 90px;
      background-image: url("../../img/voluntario-header.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      border-bottom: none;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
  }
  
  .modal-lg {
      max-width: 1205px;
  }
  
  .modal-content {
      border-radius: 30px;
      border: none;
      background-color: #F9F9F9;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 643px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .modal-footer-voluntario {
      height: 91px;
      background-image: url("../../img/voluntario-footer.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      border-top: none;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
  }
  
  .voluntario-p1 {
      font-family: "Roboto", sans-serif;
      font-size: 36px;
      color: #4F4F4F;
      padding: 0 117px;
  }
  
  .voluntario-p2 {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      color: #4F4F4F;
      padding: 0 117px;
  }