.containerFomentamos {
    background: #4F4F4F;

}

h1 {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: #F2F2F2;
}

.btn-aprenderMas {

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    width: 181px;
    height: 58px;
    left: 118px;
    background: linear-gradient(180deg, #FEC163 0%, #FB784F 100%);
    border-radius: 10px;
    color: #F2F2F2;
}