.containerNumbers {
	display: flex;
	width: 100%;
	height: 100vh;
	background: #4f4f4f;
	flex-direction: column;
	justify-content: space-around;
}

.number-letter1 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	color: #f9f9f9;
	padding: 0 118px;
}

.number-letter2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: #f9f9f9;
	padding: 0 118px;
}

.icon-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.icon-container > div:first-child  {
	margin-top: -8%;
}

.icon-container > div:nth-child(2)  {
	margin-top: -11%;
}

.icon-container > div:nth-child(3)  {
	margin-top: -16%;
}

.icon-container > div:nth-child(4) {
	margin-top: -26%;
}

.icon-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon-text > img {
	width: 75px;
	height: 75px;
	fill: white;
}

.count {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	font-weight: bold;
	color: #f9f9f9;
}

.btn-cifras {
	width: 299px;
	height: 55px;
	border: 4px solid #f9f9f9;
	border-radius: 10px;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	color: #f9f9f9;
	font-size: 1.4em;
	font-weight: bold;
	margin-left: 118px;
}

.btn-cifras:hover {
	background: #f9f9f9;
	border: 4px solid #f9f9f9;
	color: #4f4f4f;
}

.vectores {
	width: 100%;
	object-fit: cover;
  	vertical-align: bottom;
}