.containerNumbers {
	display: flex;
	width: 100%;
	height: 100vh;
	background: #4f4f4f;
	flex-direction: column;
	justify-content: space-around;
}

.numbers-main-l {
	padding-top: 155px;
}

.number-letter1 {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	color: #f9f9f9;
	padding: 0 118px;
}

.number-letter2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #f9f9f9;
	padding: 0 118px;
}

.icon-container {
	display: flex;
	justify-content: space-evenly;
}

.icon-container > div:first-child  {
  	left:11%;
	position: absolute;
}

.icon-container > div:nth-child(2)  {
	left: 30%;
	margin-top: -4%;
	position: absolute;
}

.icon-container > div:nth-child(3)  {
	right: 36%;
	margin-top: -9%;
	position: absolute;
}

.icon-container > div:nth-child(4) {
	right: 11%;
	margin-top: -16%;
	position: absolute;
}

.icon-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon-text > img {
	width: 85px;
	height: 85px;
	fill: white;
}

.p-cifras-icon {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #F9F9F9;
	text-align: center;
}

.count {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	font-weight: bold;
	color: #f9f9f9;
}

.btn-cifras {
	width: 317px;
	height: 58px;
	border: 4px solid #f9f9f9;
	border-radius: 10px;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	color: #f9f9f9;
	font-size: 24px;
	font-weight: bold;
	margin-left: 118px;
	margin-top: 1.5%;
}

.btn-cifras:hover {
	background: #f9f9f9;
	border: 4px solid #f9f9f9;
	color: #4f4f4f;
}

.vectores {
	width: 100%;
	object-fit: cover;
	vertical-align: bottom;
	display: inline-block;
	
}

