.containerFooter {
    width: 100%;
    height: 100vh;
    background: #4F4F4F;
}

h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #F2F2F2;
}

.liname {
    color: #F2F2F2;
}

.parrafo {
    color: #F2F2F2;
    text-align: center;
}

.instagram, .email, .whatsapp {
    width: 55px;
    height: 55px;
    margin: 2px;
    
}

.logoNaranjo {

    width: 289px;
    margin-left: 160px;
    margin-top: 18px;
}

.redesSociales {
    text-align: left;
    /*margin: 14px 0px;*/
    margin: 0em;
}


.redes {
    margin-left: 75%;
}

.contenedorContacto {

    box-sizing: border-box;
    border-radius: 10px;
    width: 280px;
    height: 166px;

}

.contacto {
    
    margin-top: 30px;
    margin-right: 150px;
}

.btn-enviar {
    
    width: 128px;
    height: 58px;
    border: 4px solid #F9F9F9;
    box-sizing: border-box;
    border-radius: 10px;
    color: #F9F9F9;
    background: transparent;
}

.nombre, .mail {

    width: 594px;
    height: 51px;
    margin-top: 10px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
}


.elmensaje {

    width: 594px;
    height: 120px;
    margin-top: 10px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
}

.main-container{

    display: flex;
    justify-content: space-between;
}

.instagramPrueba {

    display: flex;
}

.enviar {

    inline-size: -webkit-fill-available;
    display: flex;
    justify-content: flex-end;
}

.contenedorRow {

    justify-content: center;
}

.titulo {

    color: #F9F9F9;
}

.contenedorMuni {

    margin-left: 60px;
    margin-top: -140px;
}

.contenedorComunicacion {
   
    margin-left: -216px;
}


.contenedorContenedor {
    margin-top: -140px;
}

.contenedorrow {
    margin-left: 55px;
}

.contenedorSociales, .contenedorCordinadoras {

    margin-left: 60px;
}

