.containerFooter {
    width: 100%;
    height: 100vh;
    background: #4F4F4F;
}

h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #F2F2F2;
}

.liname {
    color: #F2F2F2;
}

.parrafo {
    color: #F2F2F2;
    text-align: center;
}

.instagram, .email, .whatsapp {
    width: 55px;
    height: 55px;
    margin: 2px;
    
}

.logoNaranjo {
    width: 247px;
    height: 265px;
}

.redesSociales {
    text-align: left;
    /*margin: 14px 0px;*/
    margin: 0em;
}


.redes {
    margin-left: 75%;
}

.contenedorContacto {

    box-sizing: border-box;
    border-radius: 10px;
    width: 280px;
    height: 166px;

}

.btn-enviar {
    
    width: 128px;
    height: 58px;
    border: 4px solid #F9F9F9;
    box-sizing: border-box;
    border-radius: 10px;
    color: #F9F9F9;
    background: transparent;
}

.nombre, .mail {

    width: 260px;
    height: 30px;
}

.asunto {

    width: 520px;
    height: 30px;
}

.elmensaje {

    width: 520px;
    height: 120px;
}

.main-container{
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}

.instagramPrueba {
    display: flex;
}

.enviar {
    inline-size: -webkit-fill-available;
    display: flex;
    justify-content: flex-end;
}

.contenedorRow {

    justify-content: center;
}