.h3-banco {
	font-family: "Roboto", sans-serif;
    color: #4f4f4f;
    width: 100%;
    padding: 0 117px;
}

.input-banco-name {
    width: 584px;
    height: 51px;
    background: #F9F9F9;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    color: #4F4F4F;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0 10px;
    margin-top: 4%;
}

.input-banco {
	width: 279px;
    height: 51px;
    background: #F9F9F9;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    color: #4F4F4F;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0 10px;
    margin-top: 4%;
}

.input-banco-disp {
    width: 324px;
    height: 193px;
    background: #F9F9F9;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #4F4F4F;
}

.region-selector{
    width: 584px;
    height: 51px;
    background: #F9F9F9;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    color: #4F4F4F;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0 10px;
    margin-top: 4%;
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
}

.personal-info {
    width: 60%;
}

.left-inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 117px;
}

.tipo-alimento {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 43px;
}

.end-banco {
    display: flex;
    justify-content: flex-end;
    align-self: baseline;
    width: 100%;
    padding-right: 117px;
    padding-top: 34px;
}

.btn-banco-enviar {
    width: 128px;
    height: 58px;
    background: transparent;
    border: 2px solid #FA6E20;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    color: #FA6E20;
    font-size: 24px;
    font-weight: bold;
}

.btn-banco-enviar:hover {
    background: linear-gradient(180deg, #FF9029 0%, #F34B14 100%);
    color: #F9F9F9;
    border: none;
}

.check-alimento {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #4F4F4F;
}

.h3-banco-disp {
    font-family: "Roboto", sans-serif;
    color: #4f4f4f;
    width: 100%;
}

.alimento-checkbox > label{
    margin-left: 4%;
    margin-top: 7%;
}