.fdonar-container {
	display: flex;
	width: 577px;
	height: 300px;
	border-radius: 20px;
	background: #f9f9f9;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.fdonar-left {
	width: 50%;
}

.fdonar-left > img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.fdonar-right {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fdonar-text {
	margin-top: 5%;
}

.fdonar-letter {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #333333;
}

.fdonar-letter-small {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #333333;
	line-height: 21px;
}

.fdonar-more {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FA6E20;
    text-decoration: underline;
}

.btn-fdonar {
	width: 167px;
	height: 58px;
	border-radius: 10px;
	border: 2px solid #fa6e20;
	background-color: transparent;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #fa6e20;
}

.btn-fdonar:hover {
	color: #f9f9f9;
	background: linear-gradient(180deg, #ff9029 0%, #f34b14 100%);
}

/* Modal */

.modal-header {
	height: 90px;
	background-image: url("../../img/huertos-header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: none;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.modal-lg {
	max-width: 1205px;
}

.modal-content {
	border-radius: 30px;
	border: none;
	background-color: #f9f9f9;
}

.modal-body {
	height: 643px;
}

.modal-footer {
	height: 91px;
	background-image: url("../../img/huertos-footer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-top: none;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.huertos-p1 {
	font-family: "Roboto", sans-serif;
	font-size: 36px;
	color: #4f4f4f;
	padding: 0 117px;
}

.huertos-p2 {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #4f4f4f;
	padding: 0 117px;
}
