.h3-banco {
	font-family: "Roboto", sans-serif;
    color: #4f4f4f;
    width: 100%;
    padding: 0 117px;
}

.input-banco-name {
    width: 584px;
    height: 51px;
    background: #F9F9F9;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    color: #4F4F4F;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0 10px;
    margin-top: 3%;
}

.input-banco {
	width: 279px;
    height: 51px;
    background: #F9F9F9;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    color: #4F4F4F;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0 10px;
    margin-top: 3%;
}

.input-banco-disp {
    width: 324px;
    height: 193px;
    background: #F9F9F9;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #4F4F4F;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
}

.personal-info {
    width: 70%;
}

.left-inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 117px;
}

.tipo-alimento {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.end-banco {
    display: flex;
    justify-content: flex-end;
    align-self: baseline;
    width: 100%;
}

.btn-banco-enviar {
    width: 128px;
    height: 58px;
    background: transparent;
    border: 2px solid #FA6E20;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    color: #FA6E20;
    font-size: 24px;
    font-weight: bold;
}

.btn-banco-enviar:hover {
    background: #F9F9F9;
    color: #4F4F4F;
}

.check-alimento {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #4F4F4F;
}