.h3-huertos {
	font-family: "Roboto", sans-serif;
    color: #4f4f4f;
    width: 100%;
    padding: 0 117px;
}

.input-huertos {
	width: 279px;
    height: 51px;
    background: #F9F9F9;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    color: #4F4F4F;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0 10px;
}

.input-container {
    display: flex;
}

.personal-info {
    width: 60%;
}

.left-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.terreno {
    display: flex;
    width: 40%;
}