.huertos-container {
  display: flex;
  width: 577px;
  height: 300px;
  border-radius: 20px;
  background: #F9F9F9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.huertos-left {
    width: 50%;
}

.huertos-left > img {
   width: 100%;
   height: 100%;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}

.huertos-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.huertos-letter {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #333333;
}

.huertos-letter-small {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #333333;
    line-height: 21px;
}

.huertos-more {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FA6E20;
    text-decoration: underline;
    margin-top: -5%;
}

.btn-huertos {
    width: 167px;
    height: 58px;
    border-radius: 10px;
    border: 2px solid #FA6E20;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #FA6E20;
}

.btn-huertos:hover {
    color: #F9F9F9;
    background: linear-gradient(180deg, #FF9029 0%, #F34B14 100%);
}

/* Modal */

.modal-header-huertos {
    height: 90px;
    background-image: url("../../img/huertos-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.modal-header .close {
    color: #F9F9F9;
}

.modal-lg {
    max-width: 1205px;
}

.modal-content {
    border-radius: 30px;
    border: none;
    background-color: #F9F9F9;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 643px;
    padding-left: 0;
    padding-right: 0;
}

.modal-footer-huertos {
    height: 91px;
    background-image: url("../../img/huertos-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: none;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.huertos-p1 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #4F4F4F;
    padding: 0 117px;
}

.huertos-p2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #4F4F4F;
    padding: 0 117px;
}

