.Detalle{

height: 1000px;
width: 1200px;
margin-left: 10px;

}
.contentId{
    background-color: #F9F9F9;
    opacity: 0.9;
   
    
}
.contenDatos{
    
    background-color:#F9F9F9;
    margin-right: 30px;
    margin-bottom:20px;
    
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 20px;

    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;



color: #4F4F4F;

   
}

.celdaId{
background-color:#F9F9F9;
width: 235px;
height: 80px;

border: 0.5px solid #4F4F4F;
box-sizing: border-box;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;


color: #4F4F4F;
}